In [1]:
import pandas as pd

# Series

In [3]:
data = [1,2,3,4,5]

In [5]:
s = pd.Series(data)

In [7]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
index = ['Linha' + str(i) for i in range(5)]

In [12]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [13]:
pd.Series (data = data, index = index)

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [15]:
data = {'linha' + str(i) : i + 1 for i in range(5) }

In [16]:
data

{'linha0': 1, 'linha1': 2, 'linha2': 3, 'linha3': 4, 'linha4': 5}

In [19]:
s = pd.Series(data)
s

linha0    1
linha1    2
linha2    3
linha3    4
linha4    5
dtype: int64

In [20]:
s1 = s + 2

In [21]:
s1

linha0    3
linha1    4
linha2    5
linha3    6
linha4    7
dtype: int64

In [22]:
s2 = s1 + s
s2

linha0     4
linha1     6
linha2     8
linha3    10
linha4    12
dtype: int64

## DataFrame

In [24]:
data = [[1,2,3],[4,5,6],[7,8,9]]

In [25]:
df1 = pd.DataFrame(data = data)

In [26]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [28]:
index = ['linha' + str(i) for i in range(3)]

In [29]:
index

['linha0', 'linha1', 'linha2']

In [30]:
df1 = pd.DataFrame(data = data, index = index)
df1

        0  1  2
linha0  1  2  3
linha1  4  5  6
linha2  7  8  9

In [31]:
columns = ['Coluna' + str(i) for i in range(3)]

In [32]:
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [33]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)
df1

        Coluna0  Coluna1  Coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9

In [35]:
data = {'Coluna0' : {'Linha0': 1, 'Linha1': 2, 'Linha2': 3}, 'Coluna1' : {'Linha0': 4, 'Linha1': 5, 'Linha2': 6}, 'Coluna2' : {'Linha0': 7, 'Linha1': 8, 'Linha2': 9}}

In [36]:
data

{'Coluna0': {'Linha0': 1, 'Linha1': 2, 'Linha2': 3},
 'Coluna1': {'Linha0': 4, 'Linha1': 5, 'Linha2': 6},
 'Coluna2': {'Linha0': 7, 'Linha1': 8, 'Linha2': 9}}

In [37]:
df2 = pd.DataFrame(data)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        4        7
Linha1        2        5        8
Linha2        3        6        9